/* BODY */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0e0e0e;
}


/* HEADER */

.button {
    background-color: #4a4a4a;
    color: white;
    border-radius: 5px;
    padding: 0.2rem 0.3rem;
    margin: 0.2rem;
}

.container-header {
    text-align: right;
    margin: .5rem 0;
}

.container-header>span {
    font-size: 10px;

}

/* MAIN */


.main-section {
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    width: calc(100% / 7);
    position: relative;
    padding: .4rem .2rem;
}

.image-container>img {
    width: 100%;
}

.pics-details {
    position: absolute;
    bottom: .6rem;
    left: .2rem;
    color: white;
    background-color: rgba(0, 0, 0, .5);
}

/* FOOTER */

footer {
    height: 80px;
    background-color: #222222;
    color: white;
}

.icon-container {
    display: inline-block;
    text-align: center;
    padding: .5rem;
}

.text {
    display: block;
    font-size: 8px;
}

.c-flex {
    display: flex;
    justify-content: space-between;
}

.footer-left,
.footer-center {
    align-items: center;
}

ul {
    list-style-type: none;
}

.prova {
    display: block;
}

.footer-right {
    background-color: #4a4a4a;
    color: red;
    line-height: 80px;
}